<style>
    .dranks {
        color: pink;
        text-align: center;
    }

    .searchResult {
        color: pink;
        text-align: center;
        border-radius: 10px;
        justify-content: center;
    }

    .ingredients, .instructions, .drink {
        background-color: #c55757;
        border-radius: 4px;
        border-color: pink;
        font-size: 2vw;
        border-style: solid;
    }


</style>
<a href="/">&larr; Back Home</a>
<div class="searchResult">
    <h1> Search Results: </h1>
</div>
<% results.forEach(function(drink){ %>
    <div class="dranks">
            Drink:
        <div class="drink">
            <%= drink.strDrink %>
        </div>
        <br>
            <h2><img src="<%= drink.strDrinkThumb %>" width="300"></h2>

        <br>
        
            Ingredients:
        <div class="ingredients">
             <%= drink.strIngredient %>
        </div>
        <br>
            Instructions:
        <div class="instructions">
            <%= drink.strInstructions %>
        </div>
        <br>
        <br>

        <form method="POST" action="favorites/drinks">
            <input type="hidden" name="name" value="<%=drink.strDrink%>">
            <input type="hidden" name="ingredients" value="<%=drink.strIngredients%>">
            <input type="hidden" name="instructions" value="<%=drink.strInstructions%>">
            <input type="hidden"name="picture" value="<%=drink.strDrinkThumb%>">
            <input type="hidden" value="Add to Favorites">
        </form>
        <br>
        <br>
        <% }) %>

    </div>