<style>
    .dranks {
        color: pink;
        text-align: center;
        
    }

     h1 {
        color: pink;
        text-align: center;
        border-radius: 10px;
        justify-content: center;
    }

    .eachResult {
        width: 60%;
        margin: auto;
        background-color: #c55757;
    }

    .ingredients, .instructions, .drink {
        background-color: #c55757;
        border-radius: 4px;
        border-color: pink;
        font-size: 2vw;
        border-style: solid;
        width: 70%;
        padding: 10px;
        margin: auto;
    }


</style>
<a href="/">&larr; Back Home</a>
<div class="searchHeader">
    <h1> Search Results: </h1>
</div>
<% results.forEach(function(drink){ %>
    <div class="dranks">
        <div class="eachResult">
            <form method="POST" action="/favorites">
                <input type="hidden" name="name" value="<%=drink.strDrink%>">
                <input type="hidden" name="ingredients" value="<%=drink.strIngredient%>">
                <input type="hidden" name="instructions" value="<%=drink.strInstructions%>">
                <input type="hidden"name="picture" value="<%=drink.strDrinkThumb%>">
                <input type="submit" value="Add to Favorites">
            </form>
                <u>Drink:</u>
            <div class="drink">
                <%= drink.strDrink %>
            </div>
                <h2><img src="<%= drink.strDrinkThumb %>" width="250"></h2>
                <u>Ingredients:</u>
            <div class="ingredients">
                 <%= drink.strIngredient1 %>
                 <%= drink.strIngredient2 %>
                 <%= drink.strIngredient3 %>
                 <%= drink.strIngredient4 %>
                 <%= drink.strIngredient5 %>
                 <%= drink.strIngredient6 %>
                 <%= drink.strIngredient7 %>
                 <%= drink.strIngredient8 %>
                 <%= drink.strIngredient9 %>
                 <%= drink.strIngredient10 %>
                 <%= drink.strIngredient11 %>
                 <%= drink.strIngredient12 %>
                 <%= drink.strIngredient13 %>
                 <%= drink.strIngredient14 %>
                 <%= drink.strIngredient15 %>
            </div>
                <u>Instructions:</u>
            <div class="instructions">
                 <%= drink.strInstructions %>
            </div>
        </div>


        <% }) %>
    </div>